* {
    box-sizing: border-box;
}

header {
    background-color: red;
}

body {
    background: orange; /* ADD PATTERN BG HERE */
}

footer {
    background-color: yellow;
}

/* General Styles */

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*------------------------------------------------------------ Header */
/*------------------------------ Logo */
h1 {
    font-size: 50px;
}

/*------------------------------ Nav */
.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    border: 0;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

/*------------------------------------------------------------ Callout */
.callout-container {
    height: 100vh;
    background-size: cover;
    position: relative;
}

/*------------------------------------------------------------ Mini Gallery */
#mini-gallery-container {
    width: 80vw;
    height: 80vh;
}

.image-column {
    width: 40vw;
    height: 60vh;
}

.image-column-left {
    background-color: rgb(252, 122, 122);
}

.image-column-middle {
    background-color: rgb(255, 207, 118);
}

.image-column-right {
    background-color: rgb(255, 255, 127);
}

/*------------------------------------------------------------ Our Story */

#our-story-section {
    max-width: 1000px;
    background-color: blue;
}

.our-story-content {
    padding: 4em 2em 0em 2em;
    position: relative;
    color: #fafafa;
    border-left: 1px solid;
}

.our-story-content p {
    padding: 0;
    margin: 0;
}

.our-story-content:before {
    content: attr(data-dates);
    position: absolute;
    left: 2.5em;
    top: 3em;
    display: block;
    font-family: "Exo", sans-serif;
    font-weight: 500;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
}

.our-story-content:after {
    width: 12px;
    height: 12px;
    display: block;
    top: 2.4em;
    position: absolute;
    left: -6px;
    border-radius: 12px;
    content: "";
    background-color: #fafafa;
}

.our-story-item {
    margin-bottom: 30px;
}
/* 
Media query to offset third image in gallery on md and sm sizes
*/
