* {
    box-sizing: border-box;
}

header {
    background-color: red;
}

body {
    background: orange; /* ADD PATTERN BG HERE */
}

footer {
    background-color: yellow;
}

/* General Styles */

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*------------------------------------------------------------ Header */
/*------------------------------ Logo */
h1 {
    font-size: 50px;
}

/*------------------------------ Nav */
.navbar {
    margin-bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, .25);
    border: 0;
    list-style-type: none;
}

a {
    color: white;
    text-decoration: none;
}

/*------------------------------------------------------------ Callout */
.callout-container {
    height: 100vh;
    background-size: cover;
    position: relative;
}

/*------------------------------------------------------------ Mini Gallery */
#mini-gallery-container {
    width: 80vw;
    height: 80vh;
}

.image-column {
    width: 40vw;
    height: 60vh;
}

.image-column-left {
    background-color: rgb(252, 122, 122);
}

.image-column-middle {
    background-color: rgb(255, 207, 118);
}

.image-column-right {
    background-color: rgb(255, 255, 127);
}

/*------------------------------------------------------------ Our Story */
.our-story-item {
    margin-left: 400px;
    margin-right: 400px;
    margin-bottom: 50px;
}

.our-story-content {
    padding: 30px;
    border-top: 3px dashed black;
}

.our-story-content:nth-child(even) {
    border-left: 2px dashed;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-right: 30px; 
    padding-right: 0;
  }

.our-story-content:nth-child(odd) {
    border-right: 2px dashed;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-left: 30px; 
    padding-left: 0;
}

.our-story-content:first-child {
    border-top: 0;
    border-top-right-radius:0;
    border-top-left-radius:0;
}
  
.our-story-content:last-child {
    border-bottom-right-radius:0;
    border-bottom-left-radius:0;
}

/*------------------------------------------------------------ Footer */


/* 
Media query to offset third image in gallery on md and sm sizes
*/
