.menu-intro {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: auto;
    max-width: 60vw;
    color: #d8b8b8;
    font-size: 1.5em;
    margin: 0;
    padding: 0.7em 0;
    font-weight: 300;
}

.menu-wrapper {
    width: 70vw;
}

.menu-item {
    /* margin-top: 20px; */
}

.menu-section-title {
    color: #fff;
    font-size: 1.8em;
}

.menu-sub-section-title {
    color: #fff;
}

.menu-item-name {
    color: #d8b8b8;
}

.menu-item-description {
    color: #bf7b75;
}

em {
    color: #99635e;
}

.menu-item-price {
    color: #bf7b75;
}