/* Fonts */

@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-width: 330px;
    max-width: 100%;
    overflow-x: hidden;
}

header {
    padding-top: 20px;
    z-index: 1;
    background-color: #592828;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
}

.container-fluid {
    padding: 0;
    margin: 0;
    max-width: 100%;
}

/* Common/general styles */
/* Polka dot background */
.polka-dot-background {
    background-color: #592828;
    opacity: 1;
    background-image: radial-gradient(#bf7b75 0.75px, transparent 0.75px), radial-gradient(#bf7b75 0.75px, #592828 0.75px);
    background-size: 30px 30px;
    background-position: 0 0, 15px 15px;
    min-height: auto;
}

.center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.upper {
    text-transform: uppercase;
}

.italiana {
    font-family: "Italiana", serif;
}

.lato {
    font-family: "Lato", sans-serif;
    font-size: 19px;
}

.jumbotron-header,
.our-story-heading {
    font-size: 50px;
}

.dark-red-background {
    background-color: #592828;
}

h5 {
    color: #350606;
    font-size: 26px;
}

/*------------------------------------------------------------ Header */
/*------------------------------ Logo */
h1 {
    font-size: 80px;
    color: #d8d7d9;
}

/*------------------------------ Nav */
.navbar {
    margin-bottom: 0;
    border-bottom: 2px solid #350606;
    font-size: 20px;
    list-style-type: none;
}

a {
    color: #FFF;
    text-decoration: none;
    margin: 0px 10px;
    padding: 10px 10px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

a:hover {
    color: #FFF;
}

/* Navbar Animations */
/* Top and Bottom borders go out */
.topBotomBordersOut a:before,
.topBotomBordersOut a:after {
    position: absolute;
    left: 0px;
    width: 100%;
    height: 2px;
    background: #FFF;
    content: "";
    opacity: 0;
    transition: all 0.3s;
}

.topBotomBordersOut a:before {
    top: 0px;
    transform: translateY(10px);
}

.topBotomBordersOut a:after {
    bottom: 0px;
    transform: translateY(-10px);
}

.topBotomBordersOut a:hover:before,
.topBotomBordersOut a:hover:after {
    opacity: 1;
    transform: translateY(0px);
}

/* Mobile Menu Toggle */
#nav-toggle {
    display: none;
    position: absolute;
}

#nav-toggle:checked~nav {
    display: block;
}

.nav-toggle-label {
    color: rgb(255, 255, 255);
    position: absolute;
    right: 14px;
    top: 8px;
    font-size: 27px;
}

/* Code borrowed from "https://css-tricks.com/inclusively-hidden/" */
.sr-only:not(:focus):not(:active) {
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

/*------------------------------------------------------------  Jumbotron */

.jumbotron-container {
    height: 84vh;
    min-height: 600px;
    background-size: cover;
    position: relative;
    width: 100%;
    overflow-x: hidden;
    padding: 0;
}

.jumbotron {
    min-height: 550px;
    height: 70vh;
    width: 130vh;
    background-image: url("https://images.pexels.com/photos/5490933/pexels-photo-5490933.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    text-align: center;
    position: relative;
    z-index: 1;
    flex-direction: column;
}

.jumbotron::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background overlay */
    z-index: -1;
}

.jumbotron h2,
.jumbotron p {
    color: #d8d7d9;
    opacity: 1;
    position: relative;
    /* Keeps text above the overlay */
    z-index: 2;
}

.jumbotron::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.8);
    /* Semi-transparent background overlay */
    z-index: -1;
}

.jumbotron h2,
.jumbotron p {
    color: #d8d7d9;
    opacity: 1;
    position: relative;
    /* Keeps text above the overlay */
    z-index: 2;
}

.reservation-button {
    background-color: #d8d7d9;
    color: #592828;
}

/*------------------------------------------------------------ Mini Gallery */
#mini-gallery-container {
    padding: 0 15px; /* Add padding to container so images don't touch the edges */
}

.gallery-row-1 {
    margin-bottom: 20px;
}

.gallery-row-1, .gallery-row-2 {
    display: flex;
    justify-content: space-between;
}

.gallery-image {
    flex-grow: 1;
    padding: 10px; /* Space between images */
    max-width: calc(33.33% - 20px); /* Ensure three columns with padding */
}

.gallery-image img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}



/*------------------------------------------------------------ Our Story */
/* Tempalte from codepen.io */

.our-story-section {
    min-height: auto;
    margin-top: 70px;
    margin-bottom: 30px;
}

.our-story-heading {
    text-align: center;
    margin: 1em 0 0 0;
    font-size: 2.5em;
    line-height: 1;
    letter-spacing: 0.02em;
    padding: 40px 0 20px 0;

    @media all and (min-width:40em) {
        font-size: 4.75em;
    }
}

.subtitle {
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    font-size: 1em;
    margin: 0.5em 0;
}

.content h3 {
    font-size: 1.2em;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #fff;

    @media all and (min-width:40em) {
        font-size: 2.5em;
    }
}

.l-contained {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 1em;
    padding-right: 1em;

    @media all and (min-width:40em) {

        padding-left: 2em;
        padding-right: 2em;
    }
}

.our-story-list {
    border-left: 5px solid #bf7b75;
    padding-bottom: 1em;
    position: relative;
    max-width: 700px;
    margin-top: 30px;
}

.our-story-list:before {
    border-left: 5px solid #bf7b75;
    left: -0.25em;
    top: 2em;
    height: 100%;
    position: absolute;
    bottom: 0;
    top: 0;
    transform-origin: 0 0;
    animation: scaleVertical 3s 1s ease both 1;
}

.our-story-list:after {
    content: "";
    clear: both;
    position: absolute;
    bottom: -5px;
    left: -0.75em;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: none repeat scroll 0% 0% #d8b8b8;
    border: 5px solid #d8b8b8;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    animation: revealScaleUp 0.75s 2.82s ease both 1;
}

.t-block-red {
    background-color: #592828;
}

.t-block-red h3,
.t-block-red h4 {
    color: #d8b8b8;
}

.t-block-red p {
    color: #d9d9d9;
}

/*list animation */
/*scale in the circle, follwoed by the list item*/
/*the border must also animate in.*/
.our-story-list li {
    margin: 0 0 3em 0;
    padding: 0 2em 0em 2em;
    position: relative;
    list-style-type: none;
}

.our-story-list li:before {
    content: "";
    position: absolute;
    top: 0px;
    left: -1.1em;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: none repeat scroll 0% 0% #d8b8b8;
    border: 5px solid #d8d7d9;
    animation: revealScaleUp 0.75s 0s ease both 1;
}

.our-story-list {
    animation: reveal 2s 0 ease both 1;
}

.our-story-list li .content {
    animation: revealFromLeft 0.5s 0s ease both 1;
}

.our-story-list li:nth-child(1):before {
    animation-delay: 0.85s;
}

.our-story-list li:nth-child(1) .content {
    animation-delay: 1.05s;
}

.our-story-list li:nth-child(2):before {
    animation-delay: 1.25s;
}

.our-story-list li:nth-child(2) .content {
    animation-delay: 1.45s;
}

.our-story-list li:nth-child(3):before {
    animation-delay: 1.65s;
}

.our-story-list li:nth-child(3) .content {
    animation-delay: 1.85s;
}

.our-story-list li:nth-child(4):before {
    animation-delay: 2.05s;
}

.our-story-list li:nth-child(4) .content {
    animation-delay: 2.25s;
}

.our-story-list li:nth-child(5):before {
    animation-delay: 2.45s;
}

.our-story-list li:nth-child(5) .content {
    animation-delay: 2.65s;
}

@keyframes revealFromLeft {
    0% {
        transform: translateX(-1em);
        opacity: 0;
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes scaleVertical {
    0% {
        transform: scaleY(0);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes revealScaleUp {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    50% {
        opacity: 1;
        transform: scale(1.3);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}


/*------------------------------------------------------------ Footer */

footer {
    background-color: #592828;
}

footer .col {
    margin-top: 30px;
}

.footer-link {
    color: #d8d7d9;
}

.copyright {
    color: #d8d7d9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*------------------------------------------------------------ Media Queries */

@media (min-width: 310px) and (max-width: 768px) {

    header {
        padding-top: 18px;
        border-bottom: 1px solid #d8d7d9;
    }

    h1 {
        font-size: 65px;
        margin: 0 50px 0 20px;
        padding-right: 20px;
    }

    /* Mobile Nav Styles */
    .navbar { 
        display: none;
    }

    .nav-toggle-label {
        top: 34px;
        font-size: 37px;
        right: 12px;
        color: #d8d7d9;
    }

    .jumbotron-container {
        width: 80%;
        height: 550px;
    }

    .jumbotron h2 {
        font-size: 50px;
    }

    .jumbotron p {
        font-size: 22px;
        padding: 0 10px 0 10px;
    }

    .reservation-button {
        margin-top: 12px;
    }

    /* Gallery Styles */

    .gallery-row-2 {
        display: none;
    }

    .gallery-row-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

}


@media screen and (min-width: 768px) {

    .nav-toggle-label {
        display: none;
    }

    header {
        padding-top: 18px;
        border-bottom: 1px solid #d8d7d9;
    }

    h1 {
        font-size: 84px;
        margin: 0 50px 0 0;
    }

    /* Gallery Styles */
    .gallery-image {
        max-width: calc(50% - 20px); /* Two images per row for tablet screens */
    }

    /* Jumbotron Styles */
    .jumbotron-container{
        width: 80%;
        max-height: auto;
    }
    
    .jumbotron {
        height: 70vh;
        width: auto;
        background-image: url(https://images.pexels.com/photos/5490933/pexels-photo-5490933.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
        padding: 0;
        text-align: center;
        position: relative;
        z-index: 1;
        flex-direction: column;
    }

    .jumbotron h2 {
        font-size: 70px;
    }

    .jumbotron p {
        font-size: 19px;
        padding: 0 10px 0 10px;
        max-width: 70vw;
    }

    .reservation-button {
        margin-top: 15px;
    }

    /* Mobile Nav Styles */
    .navbar {
        display: none;
    }

}