{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Welcome to La Luna, the online gateway to an exceptional fine-dining experience.">
    <meta name="keywords" content="restaurant, italian, food, dublin, bookings, reservations">

    <!-- Favicon -->
    <link rel="icon" sizes="any" href="https://pngimg.com/uploads/letter_L/letter_L_PNG29.png">

    <!-- Stylesheets -->

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/booking-form.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'css/menu.css' %}" type="text/css">

    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">

    <title>La Luna</title>

</head>

<body>
    <header class="dark-brown-background error-head">
        <div class="header-container">

            <!-- Logo -->
            <h1 class="logo center ta-center off-white italiana">
                La Luna
            </h1>
        </div>
    </header>

    <div class="container-wrapper error-container polka-dot-background">
        <div class="error-message-container">
            <h1 class="error-header center off-white lato ta-center">Oops!</h1>
            <p class="error-text lato off-white ta-center">We’re sorry, but something went wrong. Please try
                again later.</p>
            <a href="/" class="btn formbold-btn center">Return to Homepage</a>
        </div>
    </div>

    <div class="container-fluid">

        <footer class="row row-cols-4 border-top footer-container dark-brown-background error-footer">

            <div class="copyright-container">

                <p class="copyright-text off-white italiana">
                    © 2024
                </p>
            </div>

            <div class="col ta-center">
                <h4 class="italiana footer-title">
                    Address
                </h4>

                <address class="nav flex-column lato footer-contact-info off-white">
                    La Luna,<br>
                    01 Donnybrook Rd, <br>
                    Dublin 4, <br>
                    D12 D345
                </address>

                <p class="footer-contact-info off-white">
                    Tel: 01 2345678
                </p>

                <p class="footer-contact-info off-white">
                    Email Address: lalunaconfirmation@gmail.com
                </p>

            </div>
        </footer>

    </div>
</body>