{% extends "base.html" %}
{% block content %}
{% load crispy_forms_tags %}


<div class="formbold-main-wrapper polka-dot-background">
	<!-- displaying Django messages -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 upper lato off-white center">
				{% for message in messages %}
				<div class="alert {{ message.tags }} alert-dismissible
			  fade show" id="msg" role="alert">
					{{ message | safe }}
					<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
	
	<!-- Author: FormBold Team -->
	<!-- Learn More: https://formbold.com -->
	<div class="formbold-form-wrapper lato">
		<h2 class="center form-title italiana"> Contact Us! </h2>
		<p class="form-subtext center"> We will do our best to get back to you as soon as possible. </p>
		<form method="POST">

			{% csrf_token %}

			<div class="formbold-mb-5">
				<label for="contact_name" class="formbold-form-label">
					Full Name
				</label>

				{{ form.contact_name }}

			</div>

			<div class="formbold-mb-5">
				<label for="contact_phone_number" class="formbold-form-label">
					Phone Number
				</label>

				{{ form.contact_phone_number }}

			</div>

			<div class="formbold-mb-5">
				<label for="contact_email" class="formbold-form-label"> Email Address </label>

				{{ form.contact_email }}

			</div>

			<div class="formbold-mb-5">
				<label for="contact_message" class="formbold-form-label">
					Your Message
				</label>

				{{ form.contact_message | safe }}

			</div>

			<div>
				<button class="formbold-btn"> Send </button>
			</div>
		</form>
	</div>
</div>

{% endblock %}