{% extends "base.html" %}
{% load static %}
{% block content %}
{% load crispy_forms_tags %}


<div class="formbold-main-wrapper polka-dot-background">
	<!-- displaying Django messages -->
	<div class="container">
		<div class="row">
			<div class="col-md-8 offset-md-2 upper lato off-white center">
				{% for message in messages %}
				<div class="alert {{ message.tags }}
			  fade show" role="alert">
					{{ message | safe }}
				</div>
				{% endfor %}
			</div>
		</div>
	</div>

	<!-- Author: FormBold Team -->
	<!-- Learn More: https://formbold.com -->
	<div class="formbold-form-wrapper lato">
		<h2 class="center form-title italiana ta-center"> Contact Us! </h2>
		<p class="form-subtext ta-center"> We will do our best to get back to you as soon as possible! </p>
		<form method="POST">

			{% csrf_token %}

			<div class="formbold-mb-5">
				<label for="contact_name" class="formbold-form-label">
					Full Name
				</label>

				{{ form.contact_name }}

				{% for error in form.contact_name.errors %}
				<div class="formbold-error-message">{{ error }}</div>
				{% endfor %}

			</div>

			<div class="formbold-mb-5">
				<label for="contact_phone_number" class="formbold-form-label">
					Phone Number
				</label>

				{{ form.contact_phone_number }}

				{% for error in form.contact_phone_number.errors %}
				<div class="formbold-error-message">{{ error }}</div>
				{% endfor %}

			</div>

			<div class="formbold-mb-5">
				<label for="contact_email" class="formbold-form-label"> Email Address </label>

				{{ form.contact_email }}

				{% for error in form.contact_email.errors %}
				<div class="formbold-error-message">{{ error }}</div>
				{% endfor %}

			</div>

			<div class="formbold-mb-5">
				<label for="contact_message" class="formbold-form-label">
					Your Message
				</label>

				{{ form.contact_message }}

				{% for error in form.contact_message.errors %}
				<div class="formbold-error-message">{{ error }}</div>
				{% endfor %}

			</div>

			<div>
				<button class="formbold-btn"> Send </button>
			</div>
		</form>
	</div>
</div>

{% endblock %}