{% extends "base.html" %}
{% block content %}

    <!-- Callout -->
    <div class="container-wrapper intro-container polka-dot-background">
        <div class="container center jumbotron-container">
            <!-- Jumbotron -->
            <div class="jumbotron text-center center">
                <div class="opaque-overlay">&nbsp;</div>
                <h2 class="jumbotron-header italiana">Spoil Yourself.</h2>
                <hr class="block-divider">
                <p class="lead montserrat">Experience the elegance of authentic Italian cuisine. Reserve your table for an unforgettable dining experience.</p>
                <p>
                    <button class="btn btn-lg btn-dark lato reservation-button" data-toggle="modal" data-target="/">Make Reservation</button>
                </p>
                <p class="text-muted lato"><small>Terms & Conditions Apply</small></p>
            </div>
        </div>
    </div>
    <!-- /.callout -->

    <!-- Our Story -->
    <div id="our-story-section">
        <section class="block-content t-block-red l-block-spacing polka-dot-background center">
            <div class="l-contained">
                <h3 class="our-story-heading italiana">
                    Our Story
                </h3>
                <ul class="our-story-list ">
                    <li>
                        <div class="content">
                            <h4 class="upper italiana">A Dream is Born (1985)</h4>
                            <p class="lato">
                                Growing up in a small village in Tuscany, Italy, the owner, Luca, spends his
                                childhood in the kitchen with his Nonna, learning how to make fresh pasta and
                                traditional sauces from scratch.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <h4 class="upper italiana">Culinary Adventures (2005-2010)</h4>
                            <p class="lato">
                                After moving to Florence in 2005, Luca works in local trattorias, learning from
                                skilled chefs. Between 2008-2010, he travels across Italy, from Rome to Sicily,
                                gathering
                                inspiration and perfecting recipes passed down through generations.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <h4 class="upper italiana">The First Restaurant Opens (2011)</h4>
                            <p class="lato">
                                In 2011, Luca opens his dream restaurant in Dublin, bringing the authentic taste of
                                Tuscany to life. The cozy trattoria quickly becomes known for its handmade pasta,
                                wood-fired
                                pizzas, and warm, family-style hospitality.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <h4 class="upper italiana">A Community of Food Lovers (2012-2019)</h4>
                            <p class="lato">
                                By 2015, Luca’s restaurant has built a loyal following, praised for its rustic charm
                                and fresh ingredients. Hosting cooking classes and special events, the restaurant
                                becomes a
                                gathering place for the community, celebrating Italian culture and cuisine.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div class="content">
                            <h4 class="upper italiana">Sharing the Love of Italian Cuisine (2020-Present)</h4>
                            <p class="lato">
                                In 2020, Luca expands the restaurant to a second location, continuing to serve up
                                beloved family recipes. Even as the restaurant grows, Luca remains committed to his
                                roots, ensuring each dish is a celebration of his Italian heritage.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>
        </section>
    </div>

    <!-- Mini Gallery (portrait) -->
    <div class="container-wrapper polka-dot-background">
        <section id="mini-gallery-container" class="container container-fluid">
            <h3 class="gallery-heading italiana center">
                Gallery
            </h3>
            <!-- First Row of Images -->
            <div class="row gallery-row-1">
                <!-- image 1 -->
                <div class="col gallery-image col-12 col-sm-4 col-md-4 col-lg-4 ">
                    <img src="https://images.pexels.com/photos/14410382/pexels-photo-14410382.jpeg"
                        alt="Pasta being plated at a restaurant." class="resizable-image">
                </div>
                <!-- image 2 -->
                <div class="col gallery-image col-12 col-sm-4 col-md-4 col-lg-4">
                    <img src="https://images.pexels.com/photos/4255489/pexels-photo-4255489.jpeg"
                        alt="Hands clapping to remove flour." class="resizable-image">
                </div>
                <!-- image 3 -->
                <div class="col gallery-image col-12 col-sm-4 col-md-4 col-lg-4">
                    <img src="https://images.pexels.com/photos/4252785/pexels-photo-4252785.jpeg"
                        alt="Pasta being cut with a machine." class="resizable-image">
                </div>
            </div>
            <div class="row gallery-row-2">
                <!-- image 4 -->
                <div class="col gallery-image col-12 col-sm-4 col-md-4 col-lg-4">

                    <img src="https://images.pexels.com/photos/20844860/pexels-photo-20844860/free-photo-of-pizza-served-in-a-restaurant.jpeg"
                        alt="Man picking up a wine glass." class="resizable-image">
                </div>
                <!-- image 5 -->
                <div class="col gallery-image col-12 col-sm-4 col-md-4 col-lg-4">
                    <img src="https://images.pexels.com/photos/4252779/pexels-photo-4252779.jpeg"
                        alt="" class="resizable-image">
                </div>
                <!-- image 6 -->
                <div class="col gallery-image col-12 col-sm-4 col-md-4 col-lg-4">
                    <img src="https://images.pexels.com/photos/784633/pexels-photo-784633.jpeg"
                        alt="" class="resizable-image">
                </div>
            </div>
        </section>
    </div>
    <!-- ./Mini Gallery -->

{% endblock %}