{% extends "base.html" %}
{% block content %}

<div class="polka-dot-background">
    <div class="container">
        <div class="menu-header-row">
            <h2 class="menu-heading italiana"> Menu </h2>
            <p class="menu-intro montserrat">
                Whatever you're craving, we have the dish for you!
            </p>
            <p class="menu-intro montserrat"><em>
                We will do our best to accomodate allergies, however please keep in mind some dishes cannot be modified.
                Please contact us for further information.</em>
            </p>
        </div>
    </div>
</div>
{% endblock %}